<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot - JPA</title>
</head>
<body>
  <a th:href="@{/employee-list}">List Customer</a> 
  <br/> <br/>
  
  <table>
    <tr>
      <td>EmployeeID: </td>
      <td><p th:text="${employee.employeeID}"/></td>
    </tr>
    <tr>
      <td>FirstName: </td>
      <td><p th:text="${employee.firstName}"/></td>
    </tr>
    <tr>
      <td>LastName: </td>
      <td><p th:text="${employee.lastName}"/></td>
    </tr>
    <tr>
      <td>Email: </td>
      <td><p th:text="${employee.email}"/></td>
    </tr>
    <tr>
      <td>Phone: </td>
      <td><p th:text="${employee.phone}"/></td>
    </tr>
  </table>
</body>
</html>